.eye3color {
  color: #00a79d !important;
}

.login-layout {
	background-color:#ffffff;
}

.login-box .toolbar {
  background: #00a79d;
  border-top: 0px solid #666666;
}

.forgot-box .toolbar {
  background: #C16050;
  border-top: 0px solid #976559;
}

.login-box .forgot-password-link {
  color: #eeeeee;
}

.forgot-box .back-to-login-link,
.signup-box .back-to-login-link {
  color: #eeeeee;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.25);
}

.btn-primary,
.btn-primary:focus {
  background-color: #00a79d!important;
  border-color: #00a79d;
}

.btn-primary:hover,
.btn-primary:active,
.open .btn-primary.dropdown-toggle {
  background-color: #009a90 !important;
  border-color: #009a90;
}

 .login-layout .widget-box {
  visibility: hidden;
  position: fixed;
  z-index: -5;
  border-bottom: none;
  box-shadow: none;
  padding: 0px;
  background-color: #990000;
  -moz-transform: scale(0,1) translate(-150px);
  -webkit-transform: scale(0,1) translate(-150px);
  -o-transform: scale(0,1) translate(-150px);
  -ms-transform: scale(0,1) translate(-150px);
  transform: scale(0,1) translate(-150px);
}

.blue {
  color: #00726b !important;
}

.header.blue {
  border-bottom-color: #c0ddda;
}


textarea:focus,
input[type="color"]:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #696969;
  border-color: #990000;
  background-color: #ffffff;
  outline: none;
}

.input-icon > input:focus + .ace-icon {
  color: #008d84;
}

input[type=checkbox].ace:hover + .lbl::before,
input[type=radio].ace:hover + .lbl::before,
input[type=checkbox].ace + .lbl:hover::before,
input[type=radio].ace + .lbl:hover::before {
  border-color: #990000;
}

.forgot-box .toolbar {
  background: #990000;
  border-top: 0px solid #976559;
  padding: 9px 18px;
}

.btn-danger,
.btn-danger:focus {
  background-color: #990000 !important;
  border-color: #990000;
}

.btn-danger:hover,
.btn-danger:active,
.open .btn-danger.dropdown-toggle {
  background-color: #801113 !important;
  border-color: #801113;
}

.red {
  color: #990000 !important;
}

.header.red {
  border-bottom-color: #ead1d2;
}

img.login {
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
    max-height: 45px;
}

img.login:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    max-height: 45px;
}