{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Uso del Sistema</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Accion</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.usuario.nombre }}</td>
                <td>{{ entity.accion }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
               
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
